<div class="new-form">
	<h1>Edit a Pose</h1>

	<%= form_for @pose,:html => {:class => "form-horizontal center"} do |form| %>

		<div class="form-group">
			<%= form.label :'name:', class: "col-sm-10" %>
			<div class="col-sm-10">
				<%= form.text_field :name, id: :pose_name, class: "col-md-4 form-control" %>
			</div>	
		</div>

		<div class="form-group">
			<%= form.label :'sanskrit_name:', class: "col-sm-10" %>
			<div class="col-sm-10">
				<%= form.text_field :sanskrit_name, id: :pose_sanskrit_name, class: "col-md-4 form-control" %>	
			</div>
		</div>

		<div class="form-group">
			<%= form.label :image , class: "col-sm-10"%>
			<div class="col-sm-10">
				<%= form.file_field :image %>
			</div>
		</div>

		<div class="form-group">
			<%= form.label :'description:', class: "col-sm-10" %>
			<div class="col-sm-10">
				<%= form.text_area :description, id: :pose_image, class: "col-md-4 form-control" %>	
			</div>
		</div>

		<div class="form-group">
			<%= form.label :'difficulty_level:' , class: "col-sm-10"%>
			<div class="col-sm-10">
				<%= form.select(:'difficulty_level', options_for_select(["Easy", "Medium", "Difficult"], :selected => form.object.difficulty_level), :include_blank => true)%>
			</div>
		</div>

		<div class="form-group">
			<%= form.submit%>
		</div>

	<% end %>
</div>