<h1>Yoga Poses</h1>

<div class="row">

	<% @poses.each do |pose| %>
		<div class="col-md-4">
			<h2><%= pose.name %></h2>
			<p><%= pose.sanskrit_name %></p>
			<img src="<%= pose.image %>">
			<p>Description <%= pose.description %></p>
			<p>Difficulty Level <%= pose.difficulty_level %></p>
			<td><%= link_to 'Show', pose %></td>
		    <td><%= link_to 'Edit', edit_pose_path(pose) %></td>
		    <td><%= link_to 'Destroy', pose, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</div>

	<% end %>
</div>
