<h1>Add a new Pose</h1>

<%= form_with(model: @pose) do |form| %>

		<div class="field">
			<%= form.label :'name:' %>
			<%= form.text_field :name, id: :pose_name %>	
		</div>

		<div class="field">
			<%= form.label :'sanskrit_name:' %>
			<%= form.text_field :sanskrit_name, id: :pose_sanskrit_name %>	
		</div>

		<div class="field">
			<%= form.label :'image:' %>
			<%= form.text_field :image, id: :pose_image %>	
		</div>

		<div class="field">
			<%= form.label :'description:' %>
			<%= form.text_area :description, id: :pose_image %>	
		</div>

		<div class="field">
			<%= form.label :'difficulty_level:' %>
			<%= form.number_field :difficulty_level, id: :pose_image %>	
		</div>

		<div class="field">
			<%=form.submit %>
		</div>

<% end %>
