<div class="row">
	<div class="col-sm-10">
	<h1><%= @pose.name %></h1>
		<%= link_to 'Edit', edit_pose_path(@pose) %> |
		<%= link_to 'Back', poses_path %> |
		<%= link_to 'Delete', @pose, method: :delete %> |
		<%= link_to 'Add Comment', new_comment_path(:pose_id => @pose.id) %>
	</div>
</div>
<br>

<p>See the <%= @pose.name %> in more detail below. </p>

<p><%= @pose.sanskrit_name %></p>
<img src="<%= @pose.image.thumb %>">
<p><%= @pose.description %></p>
<p><strong>Difficulty Level: </strong> <%= @pose.difficulty_level %></p>

<% @pose.comments.each do |comment| %>
	<div class="form-group">
		<div class="form-control">
			<p><%= comment.name %>: <em><%= comment.comment %></em></p>
		</div>
		<%= link_to 'Edit Comment', edit_comment_path(comment) %> |
		<%= link_to 'Delete comment', comment_path(comment), method: :delete %>
	</div>
<% end %>





