<h1>Show</h1>

<h2><%= @pose.name %></h2>
<p><%= @pose.sanskrit_name %></p>
<img src="<%= @pose.image %>">
<p>Description <%= @pose.description %></p>
<p>Difficulty Level <%= @pose.difficulty_level %></p>

<%= link_to 'Edit', edit_pose_path(@pose) %> |
<%= link_to 'Back', poses_path %>


