<!DOCTYPE html>
<html>
  <head>
    <title>Flex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav>
      <li><%= link_to 'New', new_pose_path %></li>
      <li><%= link_to 'Index', poses_path %></li>
    </nav>

    <%= yield %>
  </body>
</html>
